body {
    background-color: floralwhite;
}

.center{
  position: relative;
  margin: 0px auto;
  text-align: center;
}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: lightgray;
}

#first {
    display: inline-block;
}

#second {
    display: inline-block;
}

#third {
    display: inline-block;
}

#fourth {
    display: inline-block;
}
