#top {
    width: 100px;
    height: 100px;
    border: 3px solid black;
    background-color: white;
}

#middle {
  width: 100px;
  height: 100px;
  border: 3px solid black;
  background-color: white;
}

#bottom {
  width: 100px;
  height: 100px;
  border: 3px solid black;
  background-color: white;
}
